body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
	font-size: 3rem;
	color: #cfe7ff;

}

hr {
	border-color: #ff8720;
	border-width: 3px;
	max-width: 65px;
}

.buffer {
	height: 10rem;
}

.btn {
	font-weight: 700;
	border-radius: 300px; 
	text-transform: uppercase;
	color: #cfe7ff;
}

.btn-xl {
	padding: 1rem 2rem;
	background-color: #ff8720;
	border-color: #ff8720;

}

.btn-primary:hover {
	background-color: #eb7134;
	border-color: #eb7134;
	border-width: 4px;
	color: #cfe7ff;

}